In [ ]:
!wget https://he-s3.s3.amazonaws.com/media/hackathon/hackerearth-machine-learning-challenge-pride-month-edition/detect-the-sentiment-of-a-quote-2-ca749be7/9e9afdaabac711ea.zip

--2020-07-20 10:42:55--  https://he-s3.s3.amazonaws.com/media/hackathon/hackerearth-machine-learning-challenge-pride-month-edition/detect-the-sentiment-of-a-quote-2-ca749be7/9e9afdaabac711ea.zip
Resolving he-s3.s3.amazonaws.com (he-s3.s3.amazonaws.com)... 52.219.124.224
Connecting to he-s3.s3.amazonaws.com (he-s3.s3.amazonaws.com)|52.219.124.224|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5759434 (5.5M) [application/zip]
Saving to: ‘9e9afdaabac711ea.zip’

9e9afdaabac711ea.zi 100%[===================>]   5.49M  2.33MB/s    in 2.4s

2020-07-20 10:42:59 (2.33 MB/s) - ‘9e9afdaabac711ea.zip’ saved [5759434/5759434]

In [ ]:
!unzip 9e9afdaabac711ea.zip

Archive:  9e9afdaabac711ea.zip
   creating: Data Files/
   creating: Data Files/Dataset/
  inflating: Data Files/Dataset/Test903.jpg
  inflating: Data Files/Dataset/Test2434.jpg
  inflating: Data Files/Dataset/Test145.jpg
  inflating: Data Files/Dataset/Test1615.jpg
  inflating: Data Files/Dataset/Test1122.jpg
  inflating: Data Files/Dataset/Test132.jpg
  inflating: Data Files/Dataset/Test2959.jpg
  inflating: Data Files/Dataset/Test109.jpg
  inflating: Data Files/Dataset/Test114.jpg
  inflating: Data Files/Dataset/Test230.jpg
  inflating: Data Files/Dataset/Test536.jpg
  inflating: Data Files/Dataset/Test516.jpg
  inflating: Data Files/Dataset/Test233.jpg
  inflating: Data Files/Dataset/Test2792.jpg
  inflating: Data Files/Dataset/Test119.jpg
  inflating: Data Files/Dataset/Test2616.jpg
  inflating: Data Files/Dataset/Test1934.jpg
  inflating: Data Files/Dataset/Test803.jpg
  inflating: Data Files/Dataset/Test3030.jpg
  inflating: Data Files/Dataset/Test240.jpg
  inflating: Data Files/Dataset/Test107.jpg
  inflating: Data Files/Dataset/Test212.jpg
  inflating: Data Files/Dataset/Test2870.jpg
  inflating: Data Files/Dataset/Test757.jpg
  inflating: Data Files/Dataset/Test245.jpg
  inflating: Data Files/Dataset/Test243.jpg
  inflating: Data Files/Dataset/Test1923.jpg
  inflating: Data Files/Dataset/Test3177.jpg
  inflating: Data Files/Dataset/Test103.jpg
  inflating: Data Files/Dataset/Test482.jpg
  inflating: Data Files/Dataset/Test890.jpg
  inflating: Data Files/Dataset/Test372.jpg
  inflating: Data Files/Dataset/Test2648.jpg
  inflating: Data Files/Dataset/Test1353.jpg
  inflating: Data Files/Dataset/Test812.jpg
  inflating: Data Files/Dataset/Test1271.jpg
  inflating: Data Files/Dataset/Test523.jpg
  inflating: Data Files/Dataset/Test129.jpg
  inflating: Data Files/Dataset/Test140.jpg
  inflating: Data Files/Dataset/Test581.jpg
  inflating: Data Files/Dataset/Test353.jpg
  inflating: Data Files/Dataset/Test1012.jpg
  inflating: Data Files/Dataset/Test779.jpg
  inflating: Data Files/Dataset/Test141.jpg
  inflating: Data Files/Dataset/Test179.jpg
  inflating: Data Files/Dataset/Test113.jpg
  inflating: Data Files/Dataset/Test1359.jpg
  inflating: Data Files/Dataset/Test162.jpg
  inflating: Data Files/Dataset/Test198.jpg
  inflating: Data Files/Dataset/Test151.jpg
  inflating: Data Files/Dataset/Test1022.jpg
  inflating: Data Files/Dataset/Test125.jpg
  inflating: Data Files/Dataset/Test449.jpg
  inflating: Data Files/Dataset/Test213.jpg
  inflating: Data Files/Dataset/Test2235.jpg
  inflating: Data Files/Dataset/Test789.jpg
  inflating: Data Files/Dataset/Test833.jpg
  inflating: Data Files/Dataset/Test1279.jpg
  inflating: Data Files/Dataset/Test533.jpg
  inflating: Data Files/Dataset/Test105.jpg
  inflating: Data Files/Dataset/Test134.jpg
  inflating: Data Files/Dataset/Test3706.jpg
  inflating: Data Files/Dataset/Test3625.jpg
  inflating: Data Files/Dataset/Test172.jpg
  inflating: Data Files/Dataset/Test1803.jpg
  inflating: Data Files/Dataset/Test128.jpg
  inflating: Data Files/Dataset/Test135.jpg
  inflating: Data Files/Dataset/Test236.jpg
  inflating: Data Files/Dataset/Test192.jpg
  inflating: Data Files/Dataset/Test1785.jpg
  inflating: Data Files/Dataset/Test489.jpg
  inflating: Data Files/Dataset/Test1644.jpg
  inflating: Data Files/Dataset/Test238.jpg
  inflating: Data Files/Dataset/Test2280.jpg
  inflating: Data Files/Dataset/Test929.jpg
  inflating: Data Files/Dataset/Test545.jpg
  inflating: Data Files/Dataset/Test225.jpg
  inflating: Data Files/Dataset/Test136.jpg
  inflating: Data Files/Dataset/Test912.jpg
  inflating: Data Files/Dataset/Test1290.jpg
  inflating: Data Files/Dataset/Test117.jpg
  inflating: Data Files/Dataset/Test490.jpg
  inflating: Data Files/Dataset/Test1767.jpg
  inflating: Data Files/Dataset/Test144.jpg
  inflating: Data Files/Dataset/Test2590.jpg
  inflating: Data Files/Dataset/Test2209.jpg
  inflating: Data Files/Dataset/Test211.jpg
  inflating: Data Files/Dataset/Test378.jpg
  inflating: Data Files/Dataset/Test173.jpg
  inflating: Data Files/Dataset/Test941.jpg
  inflating: Data Files/Dataset/Test188.jpg
  inflating: Data Files/Dataset/Test1837.jpg
  inflating: Data Files/Dataset/Test2650.jpg
  inflating: Data Files/Dataset/Test191.jpg
  inflating: Data Files/Dataset/Test3525.jpg
  inflating: Data Files/Dataset/Test149.jpg
  inflating: Data Files/Dataset/Test131.jpg
  inflating: Data Files/Dataset/Test498.jpg
  inflating: Data Files/Dataset/Test360.jpg
  inflating: Data Files/Dataset/Test3277.jpg
  inflating: Data Files/Dataset/Test161.jpg
  inflating: Data Files/Dataset/Test1884.jpg
  inflating: Data Files/Dataset/Test751.jpg
  inflating: Data Files/Dataset/Test668.jpg
  inflating: Data Files/Dataset/Test606.jpg
  inflating: Data Files/Dataset/Test242.jpg
  inflating: Data Files/Dataset/Test1885.jpg
  inflating: Data Files/Dataset/Test993.jpg
  inflating: Data Files/Dataset/Test126.jpg
  inflating: Data Files/Dataset/Test2455.jpg
  inflating: Data Files/Dataset/Test979.jpg
  inflating: Data Files/Dataset/Test824.jpg
  inflating: Data Files/Dataset/Test187.jpg
  inflating: Data Files/Dataset/Test1001.jpg
  inflating: Data Files/Dataset/Test1889.jpg
  inflating: Data Files/Dataset/Test218.jpg
  inflating: Data Files/Dataset/Test1634.jpg
  inflating: Data Files/Dataset/Test228.jpg
  inflating: Data Files/Dataset/Test3159.jpg
  inflating: Data Files/Dataset/Test2791.jpg
  inflating: Data Files/Dataset/Test3294.jpg
  inflating: Data Files/Dataset/Test164.jpg
  inflating: Data Files/Dataset/Test244.jpg
  inflating: Data Files/Dataset/Test237.jpg
  inflating: Data Files/Dataset/Test3893.jpg
  inflating: Data Files/Dataset/Test100.jpg
  inflating: Data Files/Dataset/Test526.jpg
  inflating: Data Files/Dataset/Test614.jpg
  inflating: Data Files/Dataset/Test3024.jpg
  inflating: Data Files/Dataset/Test3934.jpg
  inflating: Data Files/Dataset/Test227.jpg
  inflating: Data Files/Dataset/Test811.jpg
  inflating: Data Files/Dataset/Test3749.jpg
  inflating: Data Files/Dataset/Test122.jpg
  inflating: Data Files/Dataset/Test396.jpg
  inflating: Data Files/Dataset/Test204.jpg
  inflating: Data Files/Dataset/Test835.jpg
  inflating: Data Files/Dataset/Test239.jpg
  inflating: Data Files/Dataset/Test397.jpg
  inflating: Data Files/Dataset/Test176.jpg
  inflating: Data Files/Dataset/Test3798.jpg
  inflating: Data Files/Dataset/Test181.jpg
  inflating: Data Files/Dataset/Test180.jpg
  inflating: Data Files/Dataset/Test945.jpg
  inflating: Data Files/Dataset/Test3130.jpg
  inflating: Data Files/Dataset/Test2007.jpg
  inflating: Data Files/Dataset/Test168.jpg
  inflating: Data Files/Dataset/Test843.jpg
  inflating: Data Files/Dataset/Test2309.jpg
  inflating: Data Files/Dataset/Test677.jpg
  inflating: Data Files/Dataset/Test884.jpg
  inflating: Data Files/Dataset/Test209.jpg
  inflating: Data Files/Dataset/Test859.jpg
  inflating: Data Files/Dataset/Test778.jpg
  inflating: Data Files/Dataset/Test2743.jpg
  inflating: Data Files/Dataset/Test1240.jpg
  inflating: Data Files/Dataset/Test861.jpg
  inflating: Data Files/Dataset/Test624.jpg
  inflating: Data Files/Dataset/Test1818.jpg
  inflating: Data Files/Dataset/Test206.jpg
  inflating: Data Files/Dataset/Test519.jpg
  inflating: Data Files/Dataset/Test374.jpg
  inflating: Data Files/Dataset/Test3360.jpg
  inflating: Data Files/Dataset/Test2424.jpg
  inflating: Data Files/Dataset/Test837.jpg
  inflating: Data Files/Dataset/Test440.jpg
  inflating: Data Files/Dataset/Test3750.jpg
  inflating: Data Files/Dataset/Test221.jpg
  inflating: Data Files/Dataset/Test522.jpg
  inflating: Data Files/Dataset/Test234.jpg
  inflating: Data Files/Dataset/Test143.jpg
  inflating: Data Files/Dataset/Test2962.jpg
  inflating: Data Files/Dataset/Test644.jpg
  inflating: Data Files/Dataset/Test2049.jpg
  inflating: Data Files/Dataset/Test3863.jpg
  inflating: Data Files/Dataset/Test3789.jpg
  inflating: Data Files/Dataset/Test1071.jpg
  inflating: Data Files/Dataset/Test957.jpg
  inflating: Data Files/Dataset/Test165.jpg
  inflating: Data Files/Dataset/Test612.jpg
  inflating: Data Files/Dataset/Test1743.jpg
  inflating: Data Files/Dataset/Test400.jpg
  inflating: Data Files/Dataset/Test3118.jpg
  inflating: Data Files/Dataset/Test3827.jpg
  inflating: Data Files/Dataset/Test1776.jpg
  inflating: Data Files/Dataset/Test231.jpg
  inflating: Data Files/Dataset/Test661.jpg
  inflating: Data Files/Dataset/Test108.jpg
  inflating: Data Files/Dataset/Test760.jpg
  inflating: Data Files/Dataset/Test1992.jpg
  inflating: Data Files/Dataset/Test942.jpg
  inflating: Data Files/Dataset/Test1229.jpg
  inflating: Data Files/Dataset/Test3512.jpg
  inflating: Data Files/Dataset/Test1902.jpg
  inflating: Data Files/Dataset/Test183.jpg
  inflating: Data Files/Dataset/Test2114.jpg
  inflating: Data Files/Dataset/Test1872.jpg
  inflating: Data Files/Dataset/Test250.jpg
  inflating: Data Files/Dataset/Test3975.jpg
  inflating: Data Files/Dataset/Test527.jpg
  inflating: Data Files/Dataset/Test761.jpg
  inflating: Data Files/Dataset/Test1620.jpg
  inflating: Data Files/Dataset/Test2411.jpg
  inflating: Data Files/Dataset/Test834.jpg
  inflating: Data Files/Dataset/Test660.jpg
  inflating: Data Files/Dataset/Test133.jpg
  inflating: Data Files/Dataset/Test160.jpg
  inflating: Data Files/Dataset/Test158.jpg
  inflating: Data Files/Dataset/Test194.jpg
  inflating: Data Files/Dataset/Test1717.jpg
  inflating: Data Files/Dataset/Test216.jpg
  inflating: Data Files/Dataset/Test2068.jpg
  inflating: Data Files/Dataset/Test946.jpg
  inflating: Data Files/Dataset/Test2371.jpg
  inflating: Data Files/Dataset/Test1856.jpg
  inflating: Data Files/Dataset/Test2977.jpg
  inflating: Data Files/Dataset/Test232.jpg
  inflating: Data Files/Dataset/Test665.jpg
  inflating: Data Files/Dataset/Test1199.jpg
  inflating: Data Files/Dataset/Test3864.jpg
  inflating: Data Files/Dataset/Test587.jpg
  inflating: Data Files/Dataset/Test166.jpg
  inflating: Data Files/Dataset/Test3985.jpg
  inflating: Data Files/Dataset/Test154.jpg
  inflating: Data Files/Dataset/Test715.jpg
  inflating: Data Files/Dataset/Test3265.jpg
  inflating: Data Files/Dataset/Test152.jpg
  inflating: Data Files/Dataset/Test1724.jpg
  inflating: Data Files/Dataset/Test1954.jpg
  inflating: Data Files/Dataset/Test249.jpg
  inflating: Data Files/Dataset/Test937.jpg
  inflating: Data Files/Dataset/Test417.jpg
  inflating: Data Files/Dataset/Test201.jpg
  inflating: Data Files/Dataset/Test1161.jpg
  inflating: Data Files/Dataset/Test3566.jpg
  inflating: Data Files/Dataset/Test579.jpg
  inflating: Data Files/Dataset/Test422.jpg
  inflating: Data Files/Dataset/Test3246.jpg
  inflating: Data Files/Dataset/Test1788.jpg
   creating: Data Files/Sample Data Files/
  inflating: Data Files/Sample Data Files/Sample_Negative.jpg
  inflating: Data Files/Sample Data Files/Sample_Positive.jpg
  inflating: Data Files/Sample Data Files/Sample_Random.jpg
  inflating: Data Files/Sample_Submission.csv
  inflating: Data Files/Test.csv

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
!sudo apt install tesseract-ocr
!pip install pytesseract

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'sudo apt autoremove' to remove it.
The following additional packages will be installed:
  tesseract-ocr-eng tesseract-ocr-osd
The following NEW packages will be installed:
  tesseract-ocr tesseract-ocr-eng tesseract-ocr-osd
0 upgraded, 3 newly installed, 0 to remove and 35 not upgraded.
Need to get 4,795 kB of archives.
After this operation, 15.8 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tesseract-ocr-eng all 4.00~git24-0e00fe6-1.2 [1,588 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tesseract-ocr-osd all 4.00~git24-0e00fe6-1.2 [2,989 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tesseract-ocr amd64 4.00~git2288-10f4998a-2 [218 kB]
Fetched 4,795 kB in 0s (30.5 MB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 3.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package tesseract-ocr-eng.
(Reading database ... 144465 files and directories currently installed.)
Preparing to unpack .../tesseract-ocr-eng_4.00~git24-0e00fe6-1.2_all.deb ...
Unpacking tesseract-ocr-eng (4.00~git24-0e00fe6-1.2) ...
Selecting previously unselected package tesseract-ocr-osd.
Preparing to unpack .../tesseract-ocr-osd_4.00~git24-0e00fe6-1.2_all.deb ...
Unpacking tesseract-ocr-osd (4.00~git24-0e00fe6-1.2) ...
Selecting previously unselected package tesseract-ocr.
Preparing to unpack .../tesseract-ocr_4.00~git2288-10f4998a-2_amd64.deb ...
Unpacking tesseract-ocr (4.00~git2288-10f4998a-2) ...
Setting up tesseract-ocr-osd (4.00~git24-0e00fe6-1.2) ...
Setting up tesseract-ocr-eng (4.00~git24-0e00fe6-1.2) ...
Setting up tesseract-ocr (4.00~git2288-10f4998a-2) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Collecting pytesseract
  Downloading https://files.pythonhosted.org/packages/1d/d8/521db389ff0aae32035bfda6ed39cb2c2e28521c47015f6431f07460c50a/pytesseract-0.3.4.tar.gz
Requirement already satisfied: Pillow in /usr/local/lib/python3.6/dist-packages (from pytesseract) (7.0.0)
Building wheels for collected packages: pytesseract
  Building wheel for pytesseract (setup.py) ... done
  Created wheel for pytesseract: filename=pytesseract-0.3.4-py2.py3-none-any.whl size=13431 sha256=e5f9cf11506f09d8affdc399f8ec3a4ec108b9baa4e55a16ff044a40922cc895
  Stored in directory: /root/.cache/pip/wheels/63/2a/a0/7596d2e0a73cf0aeffd6f6170862c4e73f3763b7827e48691a
Successfully built pytesseract
Installing collected packages: pytesseract
Successfully installed pytesseract-0.3.4

In [ ]:
test=pd.read_csv('Data Files/Test.csv')
sub=pd.read_csv('Data Files/Sample_Submission.csv')

In [ ]:
test.tail(2)

        Filename  Category
237  Test249.jpg       NaN
238  Test250.jpg       NaN

In [ ]:
sub.head(5)

       Filename  Category
0  Test1001.jpg    Random
1  Test1012.jpg  Positive
2  Test1022.jpg  Negative
3  Test1071.jpg    Random
4  Test1122.jpg  Positive

In [ ]:
import cv2
import pytesseract
from pathlib import Path
from pytesseract import Output
from textblob import TextBlob
import pandas as pd

In [ ]:
img_dir = 'Data Files/Dataset/'

#f2

In [ ]:
from PIL import Image
import pytesseract
pytesseract.pytesseract.tesseract_cmd = '/usr/bin/tesseract'
c=[]
d=[]
for path in sub['Filename']:
    filepath = img_dir + "/" + path
    image = cv2.imread(filepath)
    image_to_text = pytesseract.image_to_string(image, lang='eng')
    d.append(image_to_text)
    c.append(d)
    d=[]

In [ ]:
c=np.array(c)
test['Category']=c

In [ ]:
test.head(10)

       Filename                                           Category
0  Test1001.jpg  when people ask what see you just smile and lo...
1  Test1012.jpg                                   love ocd aie rao
2  Test1022.jpg                                               love
3  Test1071.jpg  eee walla eat nimeel not living society standa...
4  Test1122.jpg  zeigler author fair play how lgbt athletes are...
5  Test1161.jpg
6  Test1199.jpg  realize what you when you ere gay the way gay ...
7  Test1229.jpg  coumea rua reh kid have never been able unders...
8  Test1240.jpg  tthe deteve big events such the final hohe esk...
9  Test1271.jpg  marriage has always been between man and woman...

In [ ]:
import re
def clean_text(text):
    text = text.lower()
    text = re.sub(r'@[a-zA-Z0-9_]+', '', text)   
    text = re.sub(r'https?://[A-Za-z0-9./]+', '', text)   
    text = re.sub(r'www.[^ ]+', '', text)  
    text = re.sub(r'[a-zA-Z0-9]*www[a-zA-Z0-9]*com[a-zA-Z0-9]*', '', text)  
    text = re.sub(r'[^a-zA-Z]', ' ', text)   
    text = [token for token in text.split() if len(token) > 2]
    text = ' '.join(text)
    return text

test['Category'] = test['Category'].apply(clean_text)

In [ ]:
mm=[]
for i in test['Category']:
  m=len(i)
  if m==0:
    mm.append('aakash')
  else:
    mm.append(i)
test['Category']=mm

In [ ]:

"""
x=['lgbtq','lesbian','gay','bisexual','transgender','queer']
score=[]
for i in test['Category']:
  k=i.split(' ')
  if x in k:
    print('')

In [ ]:
i=list(range(0, 239))
test['title']=i

In [ ]:
import re
go_tags=test.copy()
def clean_tag(tag):
    #tag = re.sub(r"[\'\[\]]","",tag)
    #tag = re.sub(r'\s','',tag)
    #tag = re.sub(r'\"','',tag)
    return tag
go_tags['Category']=go_tags['Category'].apply(lambda x: clean_tag(x))

temp=go_tags['Category'].str.split(' ')

go_tags=go_tags.reindex(go_tags.index.repeat(temp.apply(len)))
go_tags['Category_new'] = np.hstack(temp)
go_tags=go_tags[['title','Category_new']]
go_tags=pd.crosstab(go_tags.title,go_tags.Category_new)
go_tags.head()

Category_new  aad  aaglelan  aakash  aaus  ...  yrurget  yworthy  zeigher  zeigler
title                                      ...
0               0         0       0     0  ...        0        0        0        0
1               0         0       0     0  ...        0        0        0        0
2               0         0       0     0  ...        0        0        0        0
3               0         0       0     0  ...        0        0        0        0
4               0         0       0     0  ...        0        0        1        1

[5 rows x 938 columns]

In [ ]:
test=test.merge(go_tags, on='title', how='left')

In [ ]:
del test['title']

In [ ]:
xx=sub.copy()

In [ ]:
x=['lgbtq','lesbian','gay','bisexual','transgender','love','lgbt','aakash']
for i in x:
  xx[i]=test[i]

In [ ]:
del xx['Category']

In [ ]:
xx.head(10)

       Filename  Negative  Random  Postive
0  Test1001.jpg         0       0        1
1  Test1012.jpg         0       0        1
2  Test1022.jpg         0       0        1
3  Test1071.jpg         1       0        0
4  Test1122.jpg         1       0        0
5  Test1161.jpg         0       1        0
6  Test1199.jpg         1       0        0
7  Test1229.jpg         1       0        0
8  Test1240.jpg         0       0        1
9  Test1271.jpg         0       0        1

In [ ]:
xx['Negative']=xx['lgbtq']+xx['lesbian']+xx['gay']+xx['bisexual']+xx['transgender']+xx['lgbt']

In [ ]:
xx['Random']=xx['aakash']

In [ ]:
ps=[]
zz=xx['Random']+xx['Negative']
zz=list(zz)
for i in zz:
  if i==0:
    ps.append(1)
  else:
    ps.append(0)
ps=np.array(ps)
xx['Postive']=ps

In [ ]:
cc=['lgbtq', 'lesbian', 'gay', 'bisexual', 'transgender',
       'love', 'lgbt', 'aakash']
for i in cc:
  del xx[i]

In [ ]:
vb=[]
for i in xx['Negative']:
  if i==0:
    vb.append(0)
  else:
    vb.append(1)
vb=np.array(vb)
xx['Negative']=vb

In [ ]:
xx.to_csv('final.csv')

In [ ]:
from google.colab import files
files.download('final.csv')